---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Pagina de préstamo";

---
<BaseLayout pageTitle={pageTitle}>
    <h1>Mi pagina de prestamos</h1>
    <p>Pagina de prueba </p>
</BaseLayout>